body {
  background-image: url('./images/cool-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.start-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App {
  text-align: center;
}

.choose-file,
.asset-id,
.xml-textarea {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-color: #fff;
}

.asset-id,
.find-asset-button,
.download-button,
.search-again-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.download-button {
  border-bottom-right-radius: 0;
}

.search-again-button {
  border-top-right-radius: 0;
}

.xml-textarea {
  min-height: 100% !important;
  border-right-color: #ced4da;
}

.btn-primary {
  background-color: #5f0264 !important;
  border-color: #5f0264 !important;
}

.btn-primary:hover {
  background-color: #38003b !important;
  border-color: #38003b !important;
}

.btn-secondary {
  background-color: #222 !important;
  border-color: #222 !important;
}

.btn-secondary:hover {
  background-color: #363434 !important;
  border-color: #363434 !important;
}

.btn-tertiary {
  background-color: #fff !important;
  border-color: #fff !important;
}

.btn-tertiary:hover {
  background-color: #eee !important;
  border-color: #eee !important;
}